
.ArticleButtonList{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 25px;


}

.ArticleButtonList p {
  padding: 50px;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;

}

.button:hover {opacity: 1}

.article_button_grid_container {
  margin-top: 2%;
  display: grid;
  position: relative;
  text-align: center;
  margin-left: 7%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  
}

.grid-left {
  margin-left: 100px;
}

.grid-right {
  margin-right: 400px;
}
.coverpage-background {
  position: absolute;
  background: white;
  z-index: 1;
  width: 100%;
  height: 100%;
}

