:root {
  --color1: #ff9770;
  --color2: #8DDCA4;
  --color3: #F3EDC3;
  --color4: #cdb4db;
  --color5: #bde0fe;
  --color6: #e3d5ca;

  --blur: 0 8px 16px rgb(0, 0, 0, 0.4);
}

.ArticleButtonList{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.ArticleButtonList p {
  padding: 50px;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.button:hover {opacity: 1}

.article_button_grid_container {
  margin-top: 2%;
  display: grid;
  position: relative;
  text-align: center;
  margin-left: 7%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  
}

.grid-left {
  margin-left: 100px;
}

.grid-right {
  margin-right: 400px;
}
.coverpage-background {
  position: absolute;
  background: white;
  z-index: 1;
  width: 99%;
  height: 120%;
}

#investing-articles{
  display: flex;
  flex-wrap: wrap;
}

.article-box {
  border: 4px solid #e9f2ff;
  border-radius: 12px;
  margin: 1%;
  text-align: left;
  padding: 6%;
}

.centered-text {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  font-weight: 700;
  margin: 3%;
}

.article-author {
  font-size: medium;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 700;
}

.article-title {
  font-weight: 700;
}

.color-header {
  border: solid #e9f2ff;
  width: 100%;
  margin-top: -3%;
  border-radius: 12px;
  margin-bottom: 3%;
}

.article-dscr {
  font-size: medium;
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: black;
  flex: 0 0 33%;
}